<div class="hero" style="background-color:black;">
    <div class="hero__preview">
        <!-- Background Image / Video -->
        <!-- <img src="https://picsum.photos/1920" alt=""> -->

        <div class="hero__content">
            <h2>
                Film Name
            </h2>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Eligendi in sapiente odio iure nostrum neque fugit dolores doloribus illum. Similique?
            </p>
        </div>

        <div class="hero__actions">
            <a href="/film-preview" class="btn">
                Watch Movie
            </a>
        </div>
    </div>
</div>