/* Header */
.header{
    font-size: 18px;
    border-radius: 5px;
    width: 100%;

    .header__content{
        padding: 0px 40px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo{
            img{
                width: 120px;
            }
        }
    
        .header__menu{
    
            ul{
                display: inline;
                
                a{
                    text-decoration: none;
                    color: #fff;
                    padding: 10px;
                    transition: 0.5s;
    
                    &:hover{
                        font-size: 20px;
                        letter-spacing: 0.05em;
                        color: #eeb76b;
                    }
                }
                li{
                    display: inline-block;
                    color: #fff;

                    + li{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.header--header-alt{
    position: fixed;
    z-index: 9999;
    &.bg_color{
        transition: background-color 0.5s ease;
        background-color: #9c3d54;
        height: 100px;
        z-index: 999;
    }
    
    &.medium_logo{
        transition: width 0.5s ease !important;
        width: 60% !important;
    }
    
}


//  Footer
.footer{
    font-size: 18px;
    background-color: #e2703a;
    color: #fff;

    a{
        text-decoration: none;
        color: #fff;
        transition: 0.5s;

        &:hover{
            font-size: 20px;
            letter-spacing: 0.05em;
            color: #310b0b;
        }
    }

    .shell{
        padding: 40px 80px;

        .footer__cols{
            display: flex;
            align-items: center;
            gap: 70px;

            .footer__col{
                flex: 1 1 0 ;
                img{
                    width: 154px;
                    height: 150px;
                }

                .footer__nav{
                    float: left;
                    margin-left: 20px;

                    a{
                        padding: 10px;
                    }

                    li{    
                        + li{
                            margin-top: 20px;
                        }
                    }
                }

                .footer__content{
                    width: 70%;
                    margin: 0;
                    h3{
                        font-weight: 800;
                    }
                }
            }
        }

        .footer__copyright {
            margin-top: 20px;
        }
    }
}



