
<header class="header controllable">
    <div class="header__content">
        <a routerLink="/" class="header__logo">
            <img src="./assets/images/logo_last.png" alt="" >
        </a>
        
        <div class="header__menu">
            <nav>
                <ul>
                    <li>
                        <a href="/search">
                            Search
                        </a> 
                    </li>

                    <li> 
                        <a href="/categories">
                            Categories
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="shell">
        <div class="footer__cols">

            <div class="footer__col">
                <a href="/" class="footer__logo">
                    <img src="./assets/images/logo-secondary.png" alt="" >
                </a>
            </div>

            <div class="footer__col">
                <div class="footer__content">
                    <h3>About Us</h3>
                
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Saepe dolorem aut omnis accusantium corporis. Deleniti voluptates veniam inventore neque repellendus!
                    </p>
                </div>
            </div>

            <div class="footer__col">
                <nav class="footer__nav">
                    <ul>
                        <li>
                            <a href="/search">
                                Search
                            </a> 
                        </li>

                        <li> 
                            <a href="/categories">
                                Categories
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="footer__copyright">
            <p>© 2021 VideoShop </p>
        </div>
    </div>
</footer>