.searchform{
    width: 100%;
    height: 250px;
    text-align: center;

    .shell{
        padding: 0 100px;

        .search__form{
            padding-top: 40px;

            .search__value{
                height: 25px;
                width: 300px;
                margin-right: 35px;
                border: unset;
                background: #310b0b;
                border-bottom: 1px solid #eeb76b;
                color: #cfd0d1;
                font-size: 17px;
                letter-spacing: 0.06em;
                font-style: italic;
                padding: 5px 10px;

                &::placeholder {
                    color: #7a7b7d;
                    font-size: 1.3em;
                }

                &:focus{
                    outline: unset !important;
                }
            }

            .search__submit{
                padding: 20px 20px;
                background-image: url(../../../assets/images/search_icon.png);
                background-position: center;
                background-repeat: no-repeat;
                background-color: unset;
                background-size: contain;
                border:unset;
                transition: all 1s;
                
                &:focus{
                    outline: unset !important;
                }

                &:hover{
                    cursor: pointer;
                    transform: rotate(1turn) scale(1.4);
                }
            }
        }
    }
}


// Section Movies
.section__movies{
    margin: 100px 0px;
    .shell{
        width: auto;
        padding: 0px 80px;

        .continue__head{
            margin-bottom: 50px
        }

        .carousel .carousel-container{
            cursor: auto !important;
        }
        
        .carousel{
            z-index: 0;

            .carousel-cell--movie{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &:hover{
                    .movie__title{
                        animation: 1s slide-right forwards;
                        transform:translateX(-10%);
                        opacity: 1;
                    }

                    .movie__description{
                        animation: 1s slide-up forwards;
                        transform:translateY(20%);
                        opacity: 1;
                    }

                    .movie__image{
                        .img{
                            filter: brightness(35%);
                        }
                    }
                }

                .movie__image{
                    position:absolute;
                    width: 350px;
                    height: 300px;
                    z-index:-1;

                    .img{
                        transition: 0.5s ease-in-out;
                        border-radius: 8px;
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie__title{
                    overflow: hidden;
                    transition: 0.5s ease-in-out;
                    opacity: 0;
                    padding: 20px 20px 0px 20px;

                    h3{
                        font-size: 24px;
                        color: white;
                        font-weight: bold;

                    }
                }

                .movie__description{
                    overflow: hidden;
                    transition: 0.5s ease-in-out;
                    opacity: 0;
                    padding: 20px 20px 0px 20px;
                }

                .movie__action{
                    position:absolute;
                    z-index:0;
                    width: 324px;
                    height: 316px;
                }
            }
        }
    }
}

@keyframes slide-right {
    from {
       margin-left: -20px;
    }

    to {
        transform:translateX(0);
    }
 }

 @keyframes slide-up {
    from {
       margin-bottom: -100px;
    }

    to {
        transform:translateY(0);
    }
 }

 .is-hidden{
    opacity: 0;
 }