<div class="searchform">
    <div class="shell">
        <h2>
            Search Results
        </h2>

        <form [formGroup]="searchForm" class="search__form">
            <input type="text" placeholder="Search ..." class="search__value" formControlName="field">

            <button  (click)="onSubmit()" class="search__submit"></button>
        </form>
    </div>
</div>

<section class="section__movies">
    <div class="shell">
        <carousel [height]="300" [cellWidth]="33" [cellsToShow]="4" [loop]="true" [autoplay]="true" [autoplayInterval]="5000" [arrowsOutside]="true">   
            <div class="carousel-cell carousel-cell--movie" *ngFor="let film of films" >
                <div class="movie__image">
                    <img [src]="getFilmImage(film, 250, 360)" alt="" class="img">
                </div>
        
                <div class="movie__title">
                    <h3>
                        {{ film.name }}
                    </h3>
                </div>
        
                <div class="movie__description">
                    <p>
                        {{ film.description }}
                    </p>
                </div>
        
                <a href="/movie" class="movie__action"></a>
            </div>            
        </carousel>
       
    </div>
</section>
