<div class="hero" style="background-color:black;">
    <div class="hero__preview">
        <!-- Background Image / Video -->
        <!-- <img src="https://picsum.photos/1920" alt=""> -->

        <div class="hero__content">
            <h2>
                Film Name
            </h2>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Eligendi in sapiente odio iure nostrum neque fugit dolores doloribus illum. Similique?
            </p>
        </div>

        <div class="hero__actions">
            <a href="/film-preview" class="btn">
                Watch Movie
            </a>
        </div>
    </div>
</div>

<section class="section__movies">
    <div class="shell">

        <div class="continue__head">
            <h2>Continue Watching</h2>
        </div>

        <div class="movies">
            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/400/250" alt="" class="img">
                </div>

                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

        </div>
    </div>
</section>

<section class="section__movies">
    <div class="shell">

        <div class="continue__head">
            <h2>Suggested Movies</h2>
        </div>

        <div class="movies">
            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/400/250" alt="" class="img">
                </div>

                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

        </div>
    </div>
</section>

<section class="section__movies">
    <div class="shell">

        <div class="continue__head">
            <h2>Suggested Series</h2>
        </div>

        <div class="movies">
            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/400/250" alt="" class="img">
                </div>

                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>

            <div class="movie">
                <div class="movie__image">
                    <img src="https://picsum.photos/324/250" alt="" class="img">
                </div>
                <div class="movie__title">
                    <h3>
                        Film Name
                    </h3>
                </div>

                <div class="movie__description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe totam ut tenetur itaque dolorem dolore.
                    </p>
                </div>

                <a href="/test" class="movie__action"></a>
            </div>
        </div>
    </div>
</section>