<div class="hero">
    <div class="hero__video">
        <video [src]="getFilmMovieUrl( featuredFilm, false )" autoplay loop ></video>
    </div>
    <div class="hero__preview" >     

        <div class="hero__content">
            <h2>
                {{ featuredFilm.name }}
            </h2>

            <p>
                {{ featuredFilm.description }}
            </p>
        </div>

        <div class="hero__actions">
            <a [href]="getFilmMovieUrl( featuredFilm, true )" class="btn">
                Watch Movie
            </a>
        </div>
    </div>
</div>

<section class="section__movies" [ngClass]="{'is-loading' : isLoading == true}">
    <div class="shell">

        <div class="continue__head">
            <h2>Continue Watching</h2>
        </div>

        <carousel [height]="300" [cellWidth]="33" [cellsToShow]="4" [loop]="true" [autoplay]="true" [autoplayInterval]="5000" [arrowsOutside]="true">   
            <div class="carousel-cell carousel-cell--movie" *ngFor="let film of films" >
                <div class="movie__image">
                    <img [src]="getFilmImage(film, 250, 360)" alt="" class="img">
                </div>
        
                <div class="movie__title">
                    <h3>
                        {{ film.name }}
                    </h3>
                </div>
        
                <div class="movie__description">
                    <p>
                        {{ film.description }}
                    </p>
                </div>
        
                <a [href]="getFilmMovieUrl( film, true )" class="movie__action"></a>
            </div>            
        </carousel>
    </div>
</section>

<section class="section__movies" [ngClass]="{'is-loading' : isLoading == true}">
    <div class="shell">

        <div class="continue__head">
            <h2>Suggested Movies</h2>
        </div>

        <carousel [height]="300" [cellWidth]="33" [cellsToShow]="4" [loop]="true" [autoplay]="true" [autoplayInterval]="5000" [arrowsOutside]="true">   
            <div class="carousel-cell carousel-cell--movie" *ngFor="let film of suggestedFilms" >
                <div class="movie__image">
                    <img [src]="getFilmImage(film, 250, 360)" alt="" class="img">
                </div>
        
                <div class="movie__title">
                    <h3>
                        {{ film.name }}
                    </h3>
                </div>
        
                <div class="movie__description">
                    <p>
                        {{ film.description }}
                    </p>
                </div>
        
                <a [href]="getFilmMovieUrl( film, true )" class="movie__action"></a>
            </div>            
        </carousel>
    </div>
</section>