// Hero Homepage
.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    width: auto;
    height: 500px;
    
    .hero__preview{
        padding: 0px 80px 100px 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .hero__content{
            width: 600px;
        }
    }
}

// Section Movies
.section__movies{
    margin: 100px 0px;
    .shell{
        width: auto;
        padding: 0px 80px;

        .continue__head{
            margin-bottom: 50px
        }
        
        .carousel .carousel-container{
            cursor: auto !important;
        }
        
        .carousel{
            z-index: 0;

            .carousel-cell--movie{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &:hover{
                    .movie__title{
                        animation: 1s slide-right forwards;
                        transform:translateX(-10%);
                        opacity: 1;
                    }

                    .movie__description{
                        animation: 1s slide-up forwards;
                        transform:translateY(20%);
                        opacity: 1;
                    }

                    .movie__image{
                        .img{
                            filter: brightness(35%);
                        }
                    }
                }

                .movie__image{
                    position:absolute;
                    width: 350px;
                    height: 300px;
                    z-index:-1;

                    .img{
                        transition: 0.5s ease-in-out;
                        border-radius: 8px;
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie__title{
                    overflow: hidden;
                    transition: 0.5s ease-in-out;
                    opacity: 0;
                    padding: 20px 20px 0px 20px;

                    h3{
                        font-size: 24px;
                        color: white;
                        font-weight: bold;

                    }
                }

                .movie__description{
                    overflow: hidden;
                    transition: 0.5s ease-in-out;
                    opacity: 0;
                    padding: 20px 20px 0px 20px;
                }

                .movie__action{
                    position:absolute;
                    z-index:0;
                    width: 324px;
                    height: 316px;
                }
            }
        }
    }
}

.section__movies::before{
    pointer-events: none;
	z-index: 999;
	position: fixed;
	opacity: 0;
	transition: opacity .3s ;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .8);
}

.section__movies::after{
    pointer-events: none;
	z-index: 1000;
	position: fixed;
	content: '';
	opacity: 0;
	transition:  opacity .3s;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 170px;
	height: 170px;
	background: url('../../../assets/images/spinner.svg') 0 0 no-repeat;
	background-size: cover;

}

.section__movies.is-loading:before ,
.section__movies.is-loading:after {
	pointer-events: initial;
	opacity: 1;
}


@keyframes slide-right {
    from {
       margin-left: -20px;
    }

    to {
        transform:translateX(0);
    }
 }

 @keyframes slide-up {
    from {
       margin-bottom: -100px;
    }

    to {
        transform:translateY(0);
    }
 }