.categories{
    .shell{
        padding: 150px 100px;
        text-align: center;
    }

    .categories__nav{
        margin-top:50px;

        ul{
            li{
                display: inline;

                + li{
                    margin-left: 50px
                }

                a{
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    padding: 10px 0px;
                    position: relative;
                    transition: 0.5s ease;

                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 1px;
                        background-color: #eeb76b;
                    }

                    &.is-active{
                        border: 1px solid #eeb76b;
                        padding: 10px;
                        &::after{
                            display: none;
                            background-color: #fff;
                        }
                    }

                }
            }
        }
    }
}

// Section Movies
.section__movies{
    margin: 100px 0px;
    .shell{
        width: auto;
        padding: 0px 80px;

        .continue__head{
            margin-bottom: 50px
        }

        .carousel .carousel-container{
            cursor: auto !important;
        }
        
        .carousel{
            z-index: 0;

            .carousel-cell--movie{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &:hover{
                    .movie__title{
                        animation: 1s slide-right forwards;
                        transform:translateX(-10%);
                        opacity: 1;
                    }

                    .movie__description{
                        animation: 1s slide-up forwards;
                        transform:translateY(20%);
                        opacity: 1;
                    }

                    .movie__image{
                        .img{
                            filter: brightness(35%);
                        }
                    }
                }

                .movie__image{
                    position:absolute;
                    width: 350px;
                    height: 300px;
                    z-index:-1;

                    .img{
                        transition: 0.5s ease-in-out;
                        border-radius: 8px;
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie__title{
                    overflow: hidden;
                    transition: 0.5s ease-in-out;
                    opacity: 0;
                    padding: 20px 20px 0px 20px;

                    h3{
                        font-size: 24px;
                        color: white;
                        font-weight: bold;

                    }
                }

                .movie__description{
                    overflow: hidden;
                    transition: 0.5s ease-in-out;
                    opacity: 0;
                    padding: 20px 20px 0px 20px;
                }

                .movie__action{
                    position:absolute;
                    z-index:0;
                    width: 324px;
                    height: 316px;
                }
            }
        }
    }
}

@keyframes slide-right {
    from {
       margin-left: -20px;
    }

    to {
        transform:translateX(0);
    }
 }

 @keyframes slide-up {
    from {
       margin-bottom: -100px;
    }

    to {
        transform:translateY(0);
    }
 }