<section class="categories">
    <div class ="shell">
        <h2>
            Explore
        </h2>
    
        <div class="categories__nav">
            <ul>
                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Action </a>
                </li>
    
                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Comedy </a>
                </li>
    
                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Romantic </a>
                </li>
    
                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Adventure </a>
                </li>
    
                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Musical </a>
                </li>
    
                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Drama </a>
                </li>

                <li>
                    <a href="#" (click)="onCategoryClick($event)" > Historical </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="section__movies" >
    <div class="shell">
        <div class="continue__head">
            <h2 *ngIf="films.length == 0">
                No results found for {{ this.content }} Category, select another category
            </h2>

            <h2 *ngIf="films.length != 0">
                Results for: {{ this.content }}
            </h2>
        </div>

        <carousel [height]="300" [cellWidth]="33" [cellsToShow]="4" [loop]="true" [autoplay]="true" [autoplayInterval]="5000" [arrowsOutside]="true" [ngClass]="{'is-hidden' : films.length == 0}">   
            <div class="carousel-cell carousel-cell--movie" *ngFor="let film of films" >
                <div class="movie__image">
                    <img [src]="getFilmImage(film, 250, 360)" alt="" class="img">
                </div>
        
                <div class="movie__title">
                    <h3>
                        {{ film.name }}
                    </h3>
                </div>
        
                <div class="movie__description">
                    <p>
                        {{ film.description }}
                    </p>
                </div>
        
                <a [href]="getFilmMovieUrl( film, true )" class="movie__action"></a>
            </div>            
        </carousel>
       
    </div>
</section>