.login-form{
    .shell{
        padding: 0 100px;
        text-align: center;
    }
}

.form-group{
    margin-top: 50px;

    input{
        height: 25px;
        width: 300px;
        margin-right: 35px;
        border: unset;
        background: #310b0b;
        border-bottom: 1px solid #eeb76b;
        color: #cfd0d1;
        font-size: 17px;
        letter-spacing: 0.06em;
        font-style: italic;
        padding: 5px 10px;
    
        &::placeholder {
            color: #7a7b7d;
            font-size: 1.3em;
        }

        &:focus{
            outline: unset !important;
        }
    }

    input + input{
        margin-left: 20px;
    }

    button{
        margin: 60px 0;
    }
}
.form-group + .form-group{
    margin-top: 50px;
}