<section class="login-form">
    <div class="shell">
        <div class="forms">
            <div>
                <h2>Register</h2>
                <form [formGroup] = "regForm">
                    <div class="form-group">
                
                        <div class="form-group">
                            <input  placeholder="Username" id="username" formControlName="username" class="text-input-color">
                        </div>
                        
                        <div class="form-group">
                            <input  placeholder="First Name" type="text" id="fname" formControlName="fname">
                            
                            <input  placeholder="Last Name" type="text" id="lname" formControlName="lname">
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="Password" id="password1" formControlName="password1" >

                            <input type="password" placeholder="Repeat Password" if="password2" formControlName="password2" >
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="Email" id="email" formControlName="email" >

                            <input type="text" placeholder="IBAN" id="iban" formControlName="iban">
                        </div>
                
                        <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>